:root {
  --main-color: #8b1e3f;
  --action-color: #3c153b;
  --text-colot: #000;
  --background-color: #f0eff4;
  --radius: 0.5rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.6rem;
  height: 100vh;
  overflow: hidden;

  & main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    padding-inline: 0.5rem;
    border-radius: var(--radius);
    max-width: 100vw;
    min-width: 80vw;
    min-height: 100vh;

    & .menu {
      position: absolute;
      right: -180px;
      opacity: 0;
      padding-inline: 0.2rem;
      padding-block: 0.4rem;
      width: 10rem;
      background-color: #d3d3d3;
      z-index: 1;

      .show& {
        transition: opacity, right 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        opacity: 1;
        right: 0;
      }

      > .filters {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        & .filter-item {
          width: 100%;
          height: 32px;
          background-color: orange;
          cursor: pointer;
        }
      }
    }

    & figure {
      position: relative;
      display: flex;
      justify-content: start;
      flex-direction: column;
      margin: 0;
      gap: 0.2rem;
      align-items: center;

      & img {
        width: 50%;
        object-fit: contain;

        @media (width < 700px) {
          width: 100%;
        }
      }

      & figcaption {
        background-color: #222;
        min-width: 50%;
        color: #fff;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;

        @media (width < 700px) {
          width: 100%;
        }
      }
    }
  }

  & .navigation {
    position: fixed;
    bottom: calc(1rem + env(safe-area-inset-bottom));
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-self: flex-end;
    align-items: stretch;

    & .control {
      font-weight: 400;
      font-size: x-large;
      background-color: var(--action-color);
      color: var(--background-color);
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }
}
