:root {
  --main-color: #8B1E3F;
  --action-color: #3C153B;
  --text-colot: #000;
  --background-color: #F0EFF4;
  --radius: .5rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  height: 95vh;

  >main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    padding-inline: 0.5rem;
    border-radius: var(--radius);
    max-width: 80vw;
    min-width: 80vw;
    height: 100%;

    >.navigation {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }

    >figure {
      display: flex;
      justify-content: center;
      align-items: start;
      height: 80%;
      margin: 0;


      >img {
        width: 100%;
        height: auto;
        object-fit: contain;


      }

      >figcaption {
        background-color: #222;
        color: #fff;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
      }
    }


  }

  & .navigation {

    & .filters {
      margin-bottom: 1rem;
    }

    & button {
      background-color: var(--action-color);
      color: var(--background-color);
      width: fit-content;
      height: 32px;
      border-radius: calc(var(--radius) / 2);
    }
  }
}